[user]
  name = lyctw
  email = lyctw.ee@gmail.com
[color]
  ui = auto
[alias]
  co = checkout
  ci = commit
  save = commit
  st = status
  br = branch
  ls = ls-files
  tlog = log --graph --all --format='%C(red)%h %C(white)%s %Cgreen(%cr)%C(cyan) <%an>%Creset%C(yellow)%d%C
  reset'
  tkdiff = difftool --tool=tkdiff --no-prompt
  ff = merge --ff-only
  plrb = pull --rebase
  amend = commit --amend
  squash = commit --squash HEAD
  rev = rev-parse
  ver = rev-parse
  continue = rebase --continue
  lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
  lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
  lg = !"git lg1"
